documaniaworkflow-back/target/
documaniaworkflow-back/pom.xml.tag
documaniaworkflow-back/pom.xml.releaseBackup
documaniaworkflow-back/pom.xml.versionsBackup
documaniaworkflow-back/pom.xml.next
documaniaworkflow-back/release.properties
documaniaworkflow-back/dependency-reduced-pom.xml
documaniaworkflow-back/buildNumber.properties
documaniaworkflow-back/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
documaniaworkflow-back/.mvn/wrapper/maven-wrapper.jar
.metadata/
